<div class="sidebar" [style.width.vw]="sidebarWidth">
  <ul class="list-unstyled">
    <li class="nav-item">
      <a routerLink="/partner/dashboard" class="nav-link font-weight-bold" routerLinkActive="active">
        <fa-icon [icon]="iconDashboard"></fa-icon>
        <p *ngIf="IsOpen">Dashboard</p>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/partner/statistics" class="nav-link font-weight-bold" routerLinkActive="active">
        <fa-icon [icon]="iconStatistics"></fa-icon>
        <p *ngIf="IsOpen">Statistieken</p>
      </a>
    </li>
    <li class="nav-item" *ngIf="IsAdmin">
      <a routerLink="/partner/members" class="nav-link font-weight-bold" routerLinkActive="active">
        <fa-icon [icon]="iconMembers"></fa-icon>
        <p *ngIf="IsOpen">Leden</p>
      </a>
    </li>
    <li class="nav-item" *ngIf="IsAdmin">
      <a routerLink="/partner/add-member" class="nav-link font-weight-bold" routerLinkActive="active">
        <fa-icon [icon]="iconAddUser"></fa-icon>
        <p *ngIf="IsOpen">Partner toevoegen</p>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/partner/server-management" class="nav-link font-weight-bold" routerLinkActive="active">
        <fa-icon [icon]="iconEditRapport"></fa-icon>
        <p *ngIf="IsOpen">Server beheer</p>
      </a>
    </li>
    <li class="nav-item">
      <button (click)="logOut()" class="logout-button font-weight-bold">
        <fa-icon [icon]="iconSignOut"></fa-icon>
        <p *ngIf="IsOpen">Log uit</p>
      </button>
    </li>
  </ul>

  <!--Sidebar open and close buttons-->
  <button class="btn" (click)="toggleSidebar()" *ngIf="toggleButtonIsVisible">
    <fa-icon [icon]="iconClose" *ngIf="IsOpen"></fa-icon>
    <fa-icon [icon]="iconOpen" *ngIf="!IsOpen"></fa-icon>
  </button>
</div>
