<nav class="navbar bg-red fixed-top navbar-white navbar-expand-md navbar-dark">
  <div class="container">
    <!--Title-->
    <a class="navbar-brand" href="#">Femalert</a>

    <!--Navbar menu when device is small-->
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="custom-toggle navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!--Other navbar Items-->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sponsor</a>
        </li>
      </ul>

      <!--Sign in and Sign up-->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link">Sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Sign in</a>
        </li>
      </ul>
    </div>


  </div>
</nav>
