<div class="header fixed-top">
  <nav class="navbar navbar-light fixed-top navbar-expand-md">
    <div class="container d-flex justify-content-end">
      <!--Navbar menu when device is small-->
      <button
        class="navbar-toggler"
        type="button"
        data-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
        [attr.data-toggle]="shouldCollapse ? 'collapse' : ''"
        (click)="toggleCollapsed()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse"
        id="navbarCollapse"
        #collapsableContent
        [@collapseShow]="collapsed ? 'collapse' : 'show'"
      >
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a
              class="nav-link"
              data-target="#navbarCollapse"
              routerLink="/home"
              [attr.data-toggle]="shouldCollapse ? 'collapse' : ''"
              (click)="toggleCollapsed()"
            >
              Home
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              data-target="#navbarCollapse"
              routerLink="/over-ons"
              [attr.data-toggle]="shouldCollapse ? 'collapse' : ''"
              (click)="toggleCollapsed()"
            >
              Over ons
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              data-target="#navbarCollapse"
              routerLink="/faq"
              [attr.data-toggle]="shouldCollapse ? 'collapse' : ''"
              (click)="toggleCollapsed()"
            >
              FAQ
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              data-target="#navbarCollapse"
              routerLink="/login"
              [attr.data-toggle]="shouldCollapse ? 'collapse' : ''"
              (click)="toggleCollapsed()"
            >
              Partners
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="curve"></div>
</div>
<div class="spacer"></div>
