:host {
  margin-bottom: 16vh;

  .navbar-white {
    a{
      color: white;
      cursor: pointer;
    }

    a:hover{
      color: lightgrey;
    }
  }

  .bg-red {
    background-color: darkred;
  }

  .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,252,225, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .navbar-toggler {
    border: none;
  }

  .header {
    height: 100px;
    width: 100%;
    background-color: darkred; //also change background color of nav

    .curve {
      width: 100%;
      height: 30px;
      position: absolute;
      bottom: 0;
      background-color: white;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }
  }

  .spacer {
    width: 100%;
    height: 16vh;
  }
}
