<div class="header fixed-top">
  <nav class="navbar bg-light navbar-light fixed-top navbar-expand-md">
    <div class="container d-flex justify-content-end">
      <!--Navbar menu when device is small-->
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="toggleCollapsed()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse"
        id="navbarCollapse"
        #collapsableContent
        [@collapseShow]="collapsed ? 'collapse' : 'show'"
      >
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" (click)="toggleCollapsed()" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" data-target="#navbarCollapse" routerLink="/over-ons">Over ons</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="toggleCollapsed()" routerLink="/faq">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="toggleCollapsed()" routerLink="/partner">Partners</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="curve"></div>
</div>
<div class="spacer"></div>
