#intro-text {
  margin-top: 8rem !important;
}

a[routerlink='/partner'] {
  text-decoration: underline #343a40;
}

.btn-meld-hier {
  background-color: var(--secondary-bg-color);
  color: var(--primary-txt-color);
}

.btn-meld-hier:hover {
  background-color: var(--secondary-bg-hover-color);
}
