<div id="home-page-container" class="d-flex flex-column align-items-center justify-content-between">
  <div class="text-center">
    <p class="font-weight-bolder h3 mt-5 mx-4" >Last gehad van (seksuele) intimidatie tijdens het uitgaan?</p>
    <button
      (click)="onStartReport()"
      class=" font-weight-bolder btn btn-lg btn-light rounded-pill border border-dark shadow mt-5">
      Meld het hier
    </button>
  </div>

  <div class="text-center">
    <p>Heb je een vraag?</p>
    <p>Kom met ons in <u>contact</u></p>
  </div>
</div>
