<div id="home-page-container" class="d-flex flex-column align-items-center justify-content-between h-75">
  <div class="text-center">
    <p class="font-weight-bolder h3 mb-5 mx-4" id="intro-text">Last gehad van (seksuele) intimidatie tijdens het uitgaan?</p>
    <button
      class="btn mt-5 btn-meld-hier"
      (click)="onStartReport()"
    >
      Meld het hier
    </button>
  </div>
  <div class="text-center justify-content-end">
    <p>Heb je een vraag?</p>
    <p>Kom met ons in <a class="text-dark" routerLink="/contact">contact</a></p>
  </div>
</div>
