table {
  tr:first-child {
    th:first-child {
      border-top-left-radius: 10px;
    }

    th:last-child {
      border-top-right-radius: 10px;
    }
  }

  th {
    border: none;
    background-color: var(--primary-bg-color);
    color: var(--primary-txt-color);
  }

  tr:hover {
    background-color: lightgray;
  }

  td fa-icon:hover{
    color: red;
    cursor: pointer;
  }
}



