<div class="container">
  <h3>Wij zijn <strong>FemAlert</strong></h3>
  <h5>Onze missie is om door middel van samenwerking en verbintenis te zorgen dat iedereen in vrijheid en
    veiligheid zichzelf kan zijn.</h5>
  <h4><strong>Het probleem</strong></h4>
  <p>53% van alle vrouwen in Nederland heeft wel eens last gehad van (seksuele) intimidatie, discriminatie en/of
    geweld-incidenten. 20% van de mannen in Nederland heeft wel eens seksuele handelingen gedaan tegen hun wil in.
    Deze incidenten gebeuren ook veel in het uitgaansleven en op straat. FemAlert is een initiatief om slachtoffers hiervoor te beschermen.</p>
  <h4><strong>Wat is FemAlert</strong></h4>
  <p>FemAlert is een platform waarop slachtoffers op elk moment op een laagdrempelige manier een melding kunnen maken
    van overschrijdend gedrag tijdens het uitgaan.<strong> Het gaat om alle soorten incidenten en we zijn er voor iedereen.</strong>
    Wij willen ervoor zorgen dat slachtoffers een betere beleving ervaren tijdens het uitgaan en dat uitgaansgelegenheden
    en overheden op de hoogte zijn van wat er daadwerkelijk binnen hun organisatie speelt. </p>

</div>
