<div>
<div class="d-flex flex-row-reverse mb-4">
  <button (click)="onStop()" class="btn btn-light px-4 shadow rounded-pill" id="btn-stp-report">
    <fa-icon class="h5" [icon]="iconQuit"></fa-icon>
  </button>
</div>
<div class="d-flex flex-column align-items-center justify-content-between h-100">
  <h1 class="font-weight-bold mt-5 mb-0">Trots!</h1>
  <h2 class="font-weight-bold mb-5">Je melding is verstuurd.</h2>
  <p class="text-center px-5">
    Wil je extra hulp? Wij bieden ook slachtofferhulp aan. Via een email hebben wij jou meer informatie gestuurd.
    Of kijk alvast
    <a href="#" class="mb-5"><u>hier.</u></a>
  </p>
  <h3 class="font-weight-bold mb-0 mt-5">Wat doen wij met de melding?</h3>
  <h3><a href="#" class="font-weight-bold"><u>Klik hier</u></a></h3>
  <div class="text-center justify-content-end mt-5">
    <p class="mb-0 font-weight-bold">Heb je een vraag?</p>
    <p class="font-weight-bold">Kom met ons in <a href="#"><u>contact.</u></a></p>
  </div>
</div>
</div>
