/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body{
  padding-top: 100px;
  font-family:'Open Sans', sans-serif !important;
}

.rounded-corner {
  border-radius: 1rem !important;
}

.bg-grey1 {
  background-color: #F1F2F2 !important;
}

.bg-grey2 {
  background-color: #E5E8EF !important;
}

.w-40 {
  width: 40% !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
