html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Open Sans', sans-serif !important;
}

.rounded-corner {
  border-radius: 1rem !important;

  mat-dialog-container {
    border-radius: 2rem !important;
  }
}

.bg-grey1 {
  background-color: #F1F2F2 !important;
}

.bg-grey2 {
  background-color: #E5E8EF !important;
}

.w-40 {
  width: 40% !important;
}

//Theme variables
:root{
  --primary-bg-color: #750C00;
  --secondary-bg-color: #a01101;
  --secondary-bg-hover-color: #881103;
  --primary-txt-color: #ffff;
  --primary-hover-txt-color: #D3D3D3;
}
